<h2>Latest posts:</h2>
<br />
<% @results.each do |post| %>
  <p>
    <%= post['content'] %>
    <br />
    <br />
    <small>Addet at <%= post['created_date'] %></small>
    <br />
    <br />
    <em><a href="/details/<%= post['id'] %>">Comments</a></em>
  </p>
  <hr />
<% end %>